
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
  margin: 0;
}

#toolbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 48px;
  color: #181e25;
  justify-content: space-between;
  align-content: center;
}

#logoPlaceholder {
  display: flex;
  align-items: center;
  width: 114px;
  height: 48px;
  margin-left: 12px;
}

#logoText {
  height: 28px;
  width: 90px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #181e25;
  text-decoration: none;
}

#headerButton {
  margin-left: 24px;
}

#navDesktop {
  display: none;
}

#itemNav {
  display: none;
}

#headline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: max-content;
  background: url('Images/bgMain.png') no-repeat;
  background-size: 100%;
}

#primaryText {
  width: 87.2%;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 2%;
}

.primaryText {
  position: inherit;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

#primaryName {
  height: max-content;
  margin: 0;
  color: #172b4d;
}

#primaryJob {
  height: 50%;
  margin: 0;
  color: #36b37e;
  justify-self: flex-start;
}

#supportingText {
  position: inherit;
  width: 87.2%;
  height: 40%;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #172b4d;
  margin: 0;
}

#socialMediaIcons {
  display: flex;
  width: 170.17px;
  height: 20px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
}

ul {
  list-style: none;
  padding: 0;
}

#actionButtonPlaceholder {
  margin-top: 62px;
}

#indicatorRW {
  height: 4px;
  width: 48px;
  align-self: center;
  margin-top: 24px;
}

#recentWorks {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  min-height: fit-content;
  justify-content: center;
}

#recentWorksHeader {
  margin-top: 22px;
  height: 125px;
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#rWrksTitle {
  height: 97px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #172b4d;
}

.card {
  display: flex;
  flex-direction: column;
  height: 474px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  justify-self: center;
  margin-top: 24px;
  background-color: #ebf0ee;
}

#card1 {
  margin-top: 62px;
}

.projectSnapshot {
  height: 252px;
  background-color: #ebf0ee;
}

.projectInfo {
  height: 222px;
  border-radius: 8px;
  padding: 16px 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #fff;
}

.projectName {
  width: 295px;
  height: 57px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  display: block;
  text-align: center;
  line-height: 32px;
  color: #3a4a42;
  gap: 0;
  margin: 0;
}

.projectTagPH {
  display: flex;
  gap: 8px;
  width: 295px;
  justify-content: center;
}

.projectButtonPH {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.projectTag {
  background-color: #ebf0ee;
  border-style: none;
  height: 32px;
  width: max-content;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  letter-spacing: 0.03em;
  padding-left: 12px;
  padding-right: 12px;
}

.projectTag:hover {
  cursor: pointer;
}

.seeProjectBttnPH {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 69px;
  width: 305px;
}

.seeProjectBttnLink {
  text-decoration: none;
  color: #fff;
}

.seeProjectBttn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 48px;
  background-color: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}

.seeProjectBttn:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.seeProjectBttn:active {
  background-color: #008552;
}

#aboutMePage {
  position: relative;
  width: 100%;
  top: 68px;
  height: max-content;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
}

#aboutMeHeader {
  height: 333px;
  width: 351px;
  display: grid;
  grid-template-columns: 1 1;
  grid-template-rows: 48px 189px 96px;
  justify-content: center;
  background: url('Images/illustration- about me- mobile1.png') 0% 100%, url('Images/illustration 1- about me-mobile22.png') 100% -15%;
  background-repeat: no-repeat;
}

.abtMeText {
  text-align: center;
  margin: 0;
}

#abtMeTitle {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#abtMeText {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.resumeBttn {
  background-color: #36b37f;
  color: white;
  border-style: none;
  border-radius: 4px;
  width: 159px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
}

#resumeLink {
  background-color: #36b37f;
  color: white;
  border-style: none;
  border-radius: 4px;
  width: 159px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  justify-self: center;
  text-align: center;
  align-self: flex-end;
  text-decoration: none;
}

#resumeLink:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

#resumeLink:active {
  background-color: #008552;
}

#languagesCard {
  width: 327px;
  height: 352px;
  justify-self: center;
  margin-top: 59px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 184px 32px 136px;
}

.langIconPH {
  display: flex;
  align-items: center;
  justify-content: center;
}

.abtMeCardTitle {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  text-align: center;
  margin: 0;
}

.langButton {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  height: 40px;
  width: max-content;
  border: none;
  border-radius: 8px;
  padding: 12px;
}

.abtMeCardList {
  display: flex;
  flex-wrap: wrap;
  width: 327px;
  justify-content: center;
  align-content: center;
  gap: 8px;
}

#frameworksCard {
  width: 327px;
  height: 352px;
  justify-self: center;
  margin-top: 24px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 184px 32px 136px;
}

#skillsCard {
  width: 327px;
  height: 352px;
  justify-self: center;
  margin-top: 24px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 184px 32px 136px;
}

.skillsTag {
  height: 40px;
}

#terminalTag {
  margin-top: 0;
}

#contact {
  position: relative;
  top: 68px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactMeTextPH {
  height: 363px;
  width: 327px;
  justify-self: center;
}

#contactMeText {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #172b4d;
  height: 363px;
  width: 327px;
}

#contactMeBlankSpace {
  margin-top: 35px;
  height: 58px;
  width: 327px;
  justify-self: center;
}

#contactForm {
  width: 327px;
  height: 330px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formBox1 {
  height: 48px;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

#commentsFormBox {
  height: 200px;
  width: 327px;
  border-radius: 4px;
  border-color: #60c095;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  resize: none;
}

#submitFormBttn {
  height: 48px;
  width: 129px;
  padding: 12px;
  border-radius: 4px;
  background-color: #36b37f;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: none;
  align-self: center;
}

#submitFormBttn:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

#submitFormBttn:active {
  background-color: #008552;
}

#socialMediaIcons2 {
  display: flex;
  width: 170.17px;
  height: 20px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

#contactEmailPH {
  width: 375px;
  height: 189px;
}

#contactEmail {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

#bottomBar {
  height: 147px;
}

#smI {
  justify-content: center;
}

#bottomBackgroundImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('Images/illustration-contact-form1.png') 100% 56% no-repeat;
}

@media all and (min-width: 768px) {
  #toolbar {
    display: none;
  }
  #navDesktop {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 8vh;
    justify-content: center;
    z-index: 100;
  }

  #itemNav {
    display: flex;
    position: fixed;
    width: 255px;
    height: 4.444vh;
    justify-content: space-between;
    align-self: center;
    justify-items: center;
  }

  .navLink {
    text-decoration: none;
    font-family: Inter, sans-serif;
    color: #344563;
    font-weight: 600;
    font-size: 15px;
    line-height: 4.444vh;
  }

  #headline {
    background-image: url('Images/Header-llustration-desktop@2x.svg');
    background-size: 100%;
    width: 100vw;
    height: calc(0.733 * 100vw);
    position: relative;
    gap: 2.66vh;
  }

  #primaryText {
    margin-top: 25.77vh;
    width: 53.5;
    height: max-content;
    margin-bottom: 0;

  }

  #supportingText {
    width: 53.5vw;
    height: max-content;
  }

  #socialMediaIcons {
    margin-top: 0;
  }

  #actionButtonPlaceholder {
    margin-top: 12vh;
  }
  
  #recentWorks {
    height: max-content;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: max-content, auto, auto;
    justify-content: space-around;
    row-gap: 10px;
  }

  #indicatorRW {
    display: none;
  }

  #recentWorksHeader {
    grid-column: 1 / 4;
    margin-top: 11.41vh;
    height: max-content;
    margin-bottom: 5vh;
  }

  #rWrksTitle {
    width: max-content;
    height: max-content;
  }

  #card1, #card4 {
    margin-top: 24px;
    justify-self: end;
    margin-right: 5px;
  }

  #card3, #card6 {
    justify-self: start;
    margin-left: 5px;
  }

  .projectSnapshot {
    height: 220px;
  }

  .projectTag {
    height: 3.55vh;
  }

  #aboutMePage {
    top: 21.33vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content max-content;
  }

  #aboutMeHeader {
    grid-column: 1 / 4;
    justify-self: center;
    width: 63.88vw;
  }

  #abtMeText {
    padding: 30px 60px;
  }
  
}
